.header {
    grid-area: h;
    background-color: #2d5be3;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header img {
    width: 50px;
}

.loginBlock {
    float:right;

}

.loginBlock a {
    color:white;
}