.nav {
    grid-area: n;
    background-color: darkslategray;
}

.item a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
}

a.active {
    color:gold;
}